*{
    margin: 0px; /* MARGEN EXTERNO */
    padding: 0px; /* MARGEN INTERNO */
}

body {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Pacifico', cursive;
    text-align: center;
}

h2 {
    font-family: 'Pacifico', cursive;
    color: #049efc;
}

p {
    padding: 0 16px;
}

ul {
    list-style: none;
}

/* HEADER */
.header {
    background-color: rgb(25, 167, 255);
}

.header__logo {
    width: 60px;
    height: 60px;
}

.header__lista {
    display: flex; 
    list-style: none; /* Que haya un punto adelante */
    padding: 0 16px;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
}
.header__nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
 }
.header__item {
    /* display: inline; */
    padding: 20px; 
}

.header__item a {
    color: white;
    text-decoration: none;
}

.header__item:hover {
    transform: scale(1.15, 1.15);
    transition: all 0.5s;
}

.main__tarjetas article:first-child{
    background-color: #e9e456;
}


.lista__titulo {
    color: green;
}

input:focus {
    font-size: 70px;
}

.card-img-top {
    height: 250px;
}

.productos__grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr; 
    grid-template-areas: "flor compu cachorro"
                        "flor texto mountain"
                        "ola  texto amigos"
                        "ola perro-feo amigos";
    column-gap: 15px;
    background-color: #049efc;
}

.flor {
    grid-area: flor;
    background-image: url("../resources/flor.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.compu {
    grid-area: compu;
    background-image: url("../resources/compu.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: beige;
    
}
.compu:hover {
    transform: scale(2, 2);
    transition: all 1s;
}
.cachorro {
    grid-area: cachorro;
    background-image: url('../resources/cachorro.jpg');
    background-position: 65% 35%;
    background-size: cover;
    background-repeat: no-repeat;
}

.perro-feo {
    grid-area: perro-feo;
    background-image: url('../resources/perro-feo.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.ola {
    grid-area: ola;
    background-image: url('../resources/ola.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mountain {
    grid-area: mountain;
    background-image: url('../resources/mountain.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.amigos {
    grid-area: amigos;
    background-image: url('../resources/amigos.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.texto {
    grid-area: texto;
    color:yellow;
    font-size: 32px;
}

.productos__texto {
    display: flex;
    color:beige;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}
/* MEMBRESIA */
.membresia__grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 0.5fr;
    column-gap: 15px;
    row-gap: 30px;
}

.img-principal {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../resources/perro-feo.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card1 {
    grid-column: 2/4 ;
    grid-row: 1/2;
}
.card2 {
    grid-column: 4/6 ;
    grid-row: 1/2;

}
.card3 {
    grid-column: 6/8 ;
    grid-row: 1/2;

}
.card4 {
    grid-column: 3/5 ;
    grid-row: 2/3;
}
.card5 {
    grid-column: 5/7 ;
    grid-row: 2/3;
}

.boton {
    grid-column: 2/8 ;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton button {
    width: 500px;
    height: 70px;
    font-size: 32px;
}

button {
    background-image: linear-gradient(100deg, #049efc, #56b1e9 );
    border: #049efc solid 1px;
    border-radius: 15px;  
    color: white;
    padding: 10px;  
}

.btn {
    color:white;
}

button:hover {
    background-image: linear-gradient(100deg, #049efc, #56b1e9 );
    transform: scale(1.05,1.05);
    transition: all 1s;
} 

.membresia__card {
    width: 35px;
}

.card__membresia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: #ffa411 solid 3px; /* COLOR TIPO Y ANCHO */
}


/* INDEX-MAIN */
.main__principal{
    display: grid;
    height: 100vh;
    background-image: url('../resources/pizza_cinco.jpg');
    background-size: cover;
    background-position: center;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}



.main__titulo {
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    text-shadow: 2px 2px 4px black;
    font-size: 55px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.main__boton {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    justify-content: center;

}

.main__boton button {
    width: 300px;
    height: 70px;
}

/* INDEX--TARJETAS */
.main__tarjetas {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr;
    gap: 15px;
    margin: 15px;
}

.card__uno {
    grid-column: 1/2;
    grid-row: 1/2;

}

.card__uno:hover {
    background-color: white;
    transform: scale(1.05, 1.05);

}
.card__dos {
    grid-column: 2/3;
    grid-row: 1/2;
}

.card__dos:hover {
    transform: rotate(5deg);
    
}
.card__tres {
    grid-column: 3/4;
    grid-row: 1/2;
}
.ejemplo {
    background-color: #56b1e9;
    border: 2px solid  #d304fc;
}

/* h3{
    display: inline-block;
    color: #000;
    background-color: #fff;
    mix-blend-mode: multiply;
    position: relative;
} */
h3:before { /* before, es una pseudo clase que nos permite agregar un estilo antes de que se cargue el elemento */
    content: ''; /* SIEMPRE DEBE TENER ESTA PROPIEDAD */
    display: block;
    /* width: 112px;
    height: 100px; */
    background-image: linear-gradient(to bottom, red, white, blue);
    mix-blend-mode: screen; /* Nos dice que hacer con el background-image */
    position: absolute; /* NO SE USA PARA MAS NADA, pero en este caso se permite para hacer un gradiente sobre el texto */
    top: 0px;
    left: 0px;
}

.main__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: gray solid 2px;
    border-radius: 10px;
    padding: 16px;
}

.main__card--img {
    width: 350px;
    height: 150px;
}




/* FOOTER */
footer {
    display: grid;
    grid-template-areas: "indice mapa redes"
                        "indice mapa derechos";
    background-color: #049efc;
/*     justify-content: baseline;
    align-items: ;
    align-content: ; */
    padding: 24px;
}

.footer__indice {
    grid-area: indice;
}

.footer__mapa {
    grid-area: mapa; 
    display: flex;
    justify-content: center;
}
.footer__redes {
    grid-area: redes;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer__derechos {
    grid-area: derechos;
}

.footer__iconos {
    width: 70px;
    height: 70px;
    margin: 12px;
}

.footer__indice ul li{
    font-size: 16px;
    padding-bottom: 12px;
}

a {
    text-decoration: none;
    color: lightgray;
}

a:visited {
    color:#d304fc;
}
h4 {
    font-size: 20px;
}

.size__mapa {
    width:400px;
    height:300px;
}
/* SOLO FLEX */
.emiliano {
    display: flex;
   
    height: 50vh;
}

.emiliano__parrafo {
    align-self: center; /* PROPIEDAD HIJO DE FLEX */
}

.emiliano__img {
    width: 100vw;
    background-image: url('../resources/casita.jpg');
    background-size: cover;
    background-position: center;
}

.emiliano__img:before {
    content: '';
    display: block;
    height: 370px;
    background-image: linear-gradient(to top, rgba(3, 121, 255, 0.447), rgba(255, 255, 255, 0.142));
}

.keyframe {
    padding: 25px;
    animation-name: loop; /* NOMBRE DE LA ANIMACION */
    animation-iteration-count: infinite; /* CUANTAS VECES */
    animation-timing-function: ease;
    animation-duration: 10s; /* CUANTO DURA */
    animation-delay: 2s; /* CADA CUANTO SE REPITE */
}

@keyframes loop {
    0% {
        display: block;
    }
    25% {
       display: none;
    }
    50% {
        display: block;
    }
    100%{
        display: none;
    }
}

.nav-link {
    color:white;
}

.nav-item::before {
    content: " " ;
    display: block;
    width: 0px;
    height: 10px;
    position: absolute;
    top: 45px;
    border-bottom: 5px solid #ffa411;
}

.nav-item:hover::before {
    content: " " ;
    display: block;
    width: 80px;
    height: 10px;
    position: absolute;
    top: 45px;
    border-bottom: 5px solid #ffa411;
    transition: all 1s;
}

.active {
    color:rgba(20, 42, 101);
}

.carrousel__altura {
    height: 500px;
}

p:hover::first-line {
    font-size: 30px;
    color:#d304fc;
}

p::selection {
    background-color: #ffa411;
}
/* MEDIA DE CELULAR 
99.9% SIEMPRE DEBE HABER UNA SOLA COLUMNA
0.1% son galerias cuadriculadas que pueden tener hasta 3 columnas*/
@media (min-width: 320px) and (max-width: 575px) {
    /* GALERIA */

    .galeria {
        flex-direction: column;
    }

    .galeria__img {
        width: 100vh;
        margin: 0px;
    }
    /* NAVEGACION */
    header {
        height: auto;
    }
    .header__lista {
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
        align-items: center;
    }

    .header__nav { 
        flex-direction: column;
    }

    .membresia__grid {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(7, 1fr);
        row-gap: 15px;
    }

    .img-principal {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .card1 {
        grid-column: 1/2 ;
        grid-row: 2/3;
        margin: 10px;
    }
    .card2 {
        grid-column: 1/2 ;
        grid-row: 3/4;
        margin: 10px;
    
    }
    .card3 {
        grid-column: 1/2 ;
        grid-row: 4/5;
        margin: 10px;
    
    }
    .card4 {
        grid-column: 1/2 ;
        grid-row: 5/6;
        margin: 10px;
    }
    .card5 {
        grid-column: 1/2 ;
        grid-row: 6/7;
        margin: 10px;
    }
    .boton {
        grid-column: 1/2 ;
        grid-row: 7/8;
        margin: 10px;
    }

    .ocultar {
        display: none;
    }

/*     button {
        width: 300px;
        height: 70px;  
        font-size: 20px; 
} */


/* MODIFICO PRODUCTOS */
    .productos__grid {
        height: 200vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(8, 1fr); 
        grid-template-areas: "flor" 
                            "compu"
                            "cachorro"
                            "texto"
                            "mountain"
                            "ola"
                            "perro-feo" 
                            "amigos";
    }

    /* FOOTER */
    footer {
        grid-template-areas: "indice"
                            "mapa" 
                            "redes"
                            "derechos";
        padding: 10px;
    }

    .size__mapa {
        width: 200px;
        height: 100px;
    }

    /* TARJETAS */
    .main__tarjetas {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    
    .card__uno {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .card__dos {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .card__tres {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    .main__card--img {
        width: 200px;
        height: 100px;
    }
    .emiliano {
        flex-wrap: wrap;
    }
    .carrousel__altura {
        height: 300px;
    }
}


/* MEDIA QUERIE DE TABLET */
@media (min-width: 576px) and (max-width: 992px) {
    /* NAVEGACION */
    header {
        height: auto;
    }
    .header__lista {
        flex-grow: 1;
    }
    .header__nav {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
    }

    /* MODIFICACION DE GRID MEMBRESIA */
    .membresia__grid {
        height: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr) 0.25fr;
        row-gap: 15px;
    }

    .img-principal {
        grid-column: 1/7;
        grid-row: 1/2;
    }
    .card1 {
        grid-column: 1/3 ;
        grid-row: 2/3;
        margin: 10px;
    }
    .card2 {
        grid-column: 3/5 ;
        grid-row: 2/3;
        margin: 10px;
    
    }
    .card3 {
        grid-column: 5/7 ;
        grid-row: 2/3;
        margin: 10px;
    
    }
    .card4 {
        grid-column: 2/4 ;
        grid-row: 3/4;
        margin: 10px;
    }
    .card5 {
        grid-column: 4/6 ;
        grid-row: 3/4;
        margin: 10px;
    }
    .boton {
        grid-column: 3/5;
        grid-row: 4/5;
        margin: 10px;
    }
/* MODIFICACION GRID PRODUCTOS */
    .productos__grid {
        grid-template-rows: 1fr 1fr 1fr; 
        grid-template-areas: "flor compu cachorro"
                            "flor texto mountain"
                            "ola perro-feo amigos";
    }
}

