/* COLORES */
$color-principal:  #049efc;
$color-secundario : #e9dd56;

/* LETRAS */
$font-principal : 'Roboto', sans-serif;
$font-titulos: 'Pacifico', cursive;

/* TAMAÑOS */
$total-alto: 100vh;
$tamaño-icono: 70px;